body {
    font-family: "Oxygen", Arial, sans-serif;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.3px;
    font-weight: 400;
    color: #183B5C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    margin: auto;
    position: relative;
    padding: 0 16px;
    width: 100%;
    max-width: 592px;
}
.btn-group {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    align-items: center;
}
.btn-group .btn:not(.btn--square) {
    margin: 0;
    margin-bottom: 16px;
    margin-left: 8px;
    margin-right: 8px;
}
.btn:not(.btn--square) {
    -webkit-appearance: none;
    border: 0;
    font-family: "Oxygen", Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    font-weight: 400;
    line-height: 24px;
    display: inline-block;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s,border-color 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s,color 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s,box-shadow 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s;
    margin: 0;
    margin-bottom: 16px;
}
.btn--text {
    background: transparent;
    color: #183B5C;
    padding-left: 8px;
    padding-right: 8px;
}
.btn.btn--secondary {
    border: 0;
    background: transparent;
    color: #183B5C;
    padding: 7px 15px;
    border: 1px solid #183B5C;
}
.btn.btn--cta, .btn.btn--primary {
    border: 0;
    background: #183B5C;
    color: #fff;
}

header.site-header {
    position: fixed;
    z-index: 100;
    background: #fff;
    margin-right: 0;
    transition: margin-right 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s;
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
}
header.site-header:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-image: linear-gradient(to right, #25A7D9 0%, #F0E44E 25%, #F0944E 50%, #E95EAC 75%, #9B60E9 100%);
}
header.site-header > .container {
    height: 64px;
    display: flex;
    position: relative;
    align-items: center;
}
header.site-header .logo {
    line-height: 0;
}
header.site-header .logo svg {
    height: 32px;
}
header.site-header .logo path {
    fill: #25A7D9;
}
.site-header__nav {
    position: fixed;
    z-index: 2;
    transform: translateX(110%);
    box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 4%), 0px 1px 10px 0px rgb(0 0 0 / 4%), 0px 2px 4px -1px rgb(0 0 0 / 9%);
    border-radius: 8px 0 0 8px;
    transition: visiblity 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s,transform 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s,margin-right 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    font-weight: 400;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    width: 380px;
    background: #fff;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
}
.site-header__nav .header_menu {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}
.site-header__nav ul, .site-header__nav li {
    padding: 0;
    list-style: none;
    margin: 0;
}
.site-header__nav .header_menu .header_menu__cats {
    overflow-y: auto;
}
.site-header__nav .header_menu .header_menu__cat .header_menu__cat__content {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 24px;
}
.site-header__nav .header_menu .header_menu__cat .header_menu__cat__content .header_menu__cat__heading {
    font-weight: bold;
}
.site-header__nav .header_menu .header_menu__cat .header_menu__cat__content .header_menu__cat__heading:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px 2px;
    border: 2px solid #183B5C;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}
.site-header__nav .header_menu .header_menu__cat .header_menu__subcats {
    opacity: 0;
    transition: visibility 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s,opacity 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s;
    z-index: 2;
    visibility: hidden;
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}
.site-header__nav .header_menu .header_menu__cat .header_menu__subcats .header_menu__subcat {
    padding: 24px;
}
.site-header__nav .header_menu .header_menu__cat .header_menu__subcats .header_menu__subcat .header_menu__subcat__heading {
    padding-bottom: 8px;
    border-bottom: 1px solid #dcdcdc;
    color: #5A738A;
}
.site-header__nav .header_menu .header_menu__cat .header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link {
    margin-top: 24px;
}
.site-header__nav .header_menu .header_menu__cat .header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link > a {
    text-decoration: none;
    color: #183B5C;
}
.site-header__nav .header_menu .header_menu__cat .header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link > a .header_menu__link__heading {
    font-weight: bold;
}
.site-header__nav .header_menu .header_menu__cats .header_menu__cat .header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link > a:after {
    content: '';
    position: absolute;
    top: -16px;
    bottom: -16px;
    left: -16px;
    right: -16px;
    background: #B0DCED;
    z-index: -1;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s,visibility 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s;
}
.site-header__nav .site-header__buttons .btn-group {
    justify-content: center;
}
.site-header__nav .btn.btn--log-in-mobile {
    position: absolute;
    top: 8px;
    left: 24px;
    height: 48px;
    width: 64px;
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
}
.site-header__menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #183B5C;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s,visibility 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s;
    z-index: 1;
}
header.site-header .menu-button {
    position: absolute;
    z-index: 3;
    right: 16px;
    width: 48px;
    height: 48px;
    top: 50%;
    margin-top: -24px;
}
.site-header__nav .site-header__buttons .btn--log-in {
    display: none;
}

@media (min-width: 1248px) {
    .container {
        max-width: 1248px;
    }
}

@media (min-width: 1056px) {
    .container {
        padding: 0 24px;
    }
    .btn-group .btn:not(.btn--square) {
        margin-bottom: 24px;
    }
    .btn:not(.btn--square) {
        margin-bottom: 24px;
    }
    .site-header__nav {
        position: static;
        transform: none;
        padding: 0;
        width: auto;
        flex-grow: 1;
        box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%);
        background: transparent;
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        transform: none !important;
    }
    .site-header__nav .header_menu {
        height: 100%;
        overflow: visible;
        position: static;
    }
    .site-header__nav .header_menu .header_menu__cats {
        display: flex;
        height: 100%;
        flex-direction: row;
        overflow-y: visible;
    }
    header.site-header[data-cat-open="1"] .header_menu__cat[data-cat="1"] .header_menu__cat__heading, header.site-header[data-cat-open="1"] .header_menu__cat[data-cat="1"] .header_menu__cat__content .header_menu__cat__heading, header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover .header_menu__cat__heading, header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover .header_menu__cat__content .header_menu__cat__heading {
        text-shadow: 0px 0px 0.5px #183b5c;
    }
    header.site-header[data-cat-open="2"] .header_menu__cat[data-cat="2"] .header_menu__cat__heading, header.site-header[data-cat-open="2"] .header_menu__cat[data-cat="2"] .header_menu__cat__content .header_menu__cat__heading, header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover .header_menu__cat__heading, header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover .header_menu__cat__content .header_menu__cat__heading {
        text-shadow: 0px 0px 0.5px #183b5c;
    }
    header.site-header[data-cat-open="3"] .header_menu__cat[data-cat="3"] .header_menu__cat__heading, header.site-header[data-cat-open="3"] .header_menu__cat[data-cat="3"] .header_menu__cat__content .header_menu__cat__heading, header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover .header_menu__cat__heading, header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover .header_menu__cat__content .header_menu__cat__heading {
        text-shadow: 0px 0px 0.5px #183b5c;
    }
    header.site-header[data-cat-open="1"] .header_menu__cat[data-cat="1"] .header_menu__cat__content .header_menu__cat__description, header.site-header[data-cat-open="1"] .header_menu__cat[data-cat="1"] .header_menu__cat__description, header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover .header_menu__cat__content .header_menu__cat__description, header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover .header_menu__cat__description {
        top: 50%;
        visibility: visible;
    }
    header.site-header[data-cat-open="2"] .header_menu__cat[data-cat="2"] .header_menu__cat__content .header_menu__cat__description, header.site-header[data-cat-open="2"] .header_menu__cat[data-cat="2"] .header_menu__cat__description, header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover .header_menu__cat__content .header_menu__cat__description, header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover .header_menu__cat__description {
        top: 50%;
        visibility: visible;
    }
    header.site-header[data-cat-open="3"] .header_menu__cat[data-cat="3"] .header_menu__cat__content .header_menu__cat__description, header.site-header[data-cat-open="3"] .header_menu__cat[data-cat="3"] .header_menu__cat__description, header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover .header_menu__cat__content .header_menu__cat__description, header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover .header_menu__cat__description {
        top: 50%;
        visibility: visible;
    }
    header.site-header[data-cat-open="1"] .header_menu__cat[data-cat="1"] .header_menu__subcats, 
    header.site-header[data-cat-open="1"] .header_menu__cat[data-cat="1"]+.header_menu__subcats, 
    header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover .header_menu__subcats, 
    header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover+.header_menu__subcats {
        opacity: 1;
        visibility: visible;
    }
    header.site-header[data-cat-open="2"] .header_menu__cat[data-cat="2"] .header_menu__subcats, 
    header.site-header[data-cat-open="2"] .header_menu__cat[data-cat="2"]+.header_menu__subcats,
    header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover .header_menu__subcats, 
    header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover+.header_menu__subcats {
        opacity: 1;
        visibility: visible;
    }
    header.site-header[data-cat-open="3"] .header_menu__cat[data-cat="3"] .header_menu__subcats, 
    header.site-header[data-cat-open="3"] .header_menu__cat[data-cat="3"]+.header_menu__subcats, 
    header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover .header_menu__subcats, 
    header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover+.header_menu__subcats {
        opacity: 1;
        visibility: visible;
    }
    header.site-header[data-cat-open="1"] .header_menu__cat[data-cat="1"] .header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link, 
    header.site-header[data-cat-open="1"] .header_menu__cat[data-cat="1"]+.header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link, 
    header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover .header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link, 
    header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover+.header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link {
        opacity: 1;
        transform: translateY(0);
    }
    header.site-header[data-cat-open="2"] .header_menu__cat[data-cat="2"] .header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link, 
    header.site-header[data-cat-open="2"] .header_menu__cat[data-cat="2"]+.header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link, 
    header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover .header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link, 
    header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover+.header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link {
        opacity: 1;
        transform: translateY(0);
    }
    header.site-header[data-cat-open="3"] .header_menu__cat[data-cat="3"] .header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link, 
    header.site-header[data-cat-open="3"] .header_menu__cat[data-cat="3"]+.header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link, 
    header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover .header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link, 
    header.site-header:not([data-menu-open="1"]) .site-header__nav .header_menu__cat .header_menu__cat__content:hover+.header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link {
        opacity: 1;
        transform: translateY(0);
    }
    .site-header__nav .header_menu .header_menu__cats .header_menu__cat .header_menu__subcats .header_menu__subcat:nth-child(1) .header_menu__links .header_menu__link:nth-child(2) {
        transition-delay: .11s;
    }
    .site-header__nav .header_menu .header_menu__cats .header_menu__cat .header_menu__cat__content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 32px;
        padding: 0;
    }
    .site-header__nav .header_menu .header_menu__cats .header_menu__cat .header_menu__cat__content .header_menu__cat__heading {
        font-weight: normal;
        padding: 8px;
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
    }
    .site-header__nav .header_menu .header_menu__cats .header_menu__cat .header_menu__cat__content .header_menu__cat__heading:after {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transform: translateY(8px);
        transition: opacity 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s,visibility 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s,transform 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s;
        top: 100%;
        left: 50%;
        margin: 0;
        margin-top: -4px;
        margin-left: -8px;
        width: 16px;
        height: 16px;
        border: 8px solid transparent;
        border-bottom-color: #fff;
        transform: none;
    }
    .site-header__nav .header_menu .header_menu__cats .header_menu__cat .header_menu__cat__content .header_menu__cat__description {
        font-size: 0;
        position: absolute;
        bottom: 0;
        top: 100%;
        width: 64px;
        overflow: hidden;
        visibility: hidden;
        transition: top 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s,visibility 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s;
    }
    .site-header__nav .header_menu .header_menu__cats .header_menu__cat .header_menu__cat__content .header_menu__cat__description:before {
        content: '';
        width: 40px;
        height: 40px;
        position: absolute;
        background-size: contain;
        background-image: url(/wp-content/themes/pp_2020/assets/img/navigation/Header-Menu-Squircle-1.svg);
        left: 50%;
        margin-left: -20px;
        top: 12px;
        animation: header-menu-hover-sq 5s ease-in-out infinite;
    }
    .site-header__nav .header_menu .header_menu__cats .header_menu__cat .header_menu__subcats {
        margin-top: 12px;
        position: absolute;
        top: 100%;
        bottom: auto;
        right: auto;
        width: 1056px;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: row;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 4%), 0px 1px 10px 0px rgb(0 0 0 / 4%), 0px 2px 4px -1px rgb(0 0 0 / 9%);
    }
    .site-header__nav .header_menu .header_menu__cats .header_menu__cat .header_menu__subcats .header_menu__subcat {
        width: 33.33333%;
        flex-grow: 1;
    }
    .site-header__nav .header_menu .header_menu__cats .header_menu__cat .header_menu__subcats .header_menu__subcat:nth-child(1) .header_menu__links .header_menu__link:nth-child(1) {
        transition-delay: .08s;
    }
    .site-header__nav .header_menu .header_menu__cats .header_menu__cat .header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link {
        opacity: 0;
        transform: translateY(8px);
        transition: opacity 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s,transform 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s;
        position: relative;
    }
    .site-header__nav .header_menu .header_menu__cats .header_menu__cat .header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link .header_menu__link__description {
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 0.2px;
    }
    .site-header__nav .header_menu .header_menu__cat .header_menu__subcats .header_menu__subcat .header_menu__links .header_menu__link > a p {
        margin: 0;
    }
    .site-header__nav .site-header__buttons {
        position: static;
        padding: 0;
        background: transparent;
    }
    .site-header__nav .site-header__buttons .btn-group .btn {
        margin-bottom: 0;
        order: 0;
        display: inline-block;
    }
    .site-header__nav .site-header__buttons .btn--secondary {
        order: 1;
        background: #fff;
    }
    .site-header__nav .site-header__back {
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s,opacity 0.3s cubic-bezier(0.5, 0, 0.335, 1) 0s;
        position: absolute;
        display: flex;
        align-items: center;
        top: 8px;
        left: 24px;
        height: 48px;
        width: 64px;
        color: #183B5C;
        text-decoration: none;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.2px;
        background: #fff;
        z-index: 2;
    }
    .site-header__back, .btn.btn--log-in-mobile {
        display: none !important;
    }
    .btn:not(.btn--square) {
        margin-bottom: 24px;
    }
    .site-header__menu-overlay {
        top: 68px;
    }
    header.site-header .menu-button {
        display: none;
    }
    header.site-header .menu-button {
        right: 24px;
    }
}

@media (min-width: 768px) {
    header.site-header .menu-button {
        right: 16px;
    }
    .container {
        padding: 0 16px;
    }
    .btn-group .btn:not(.btn--square) {
        margin-bottom: 16px;
    }
    .btn:not(.btn--square) {
        margin-bottom: 16px;
    }
}

.btn.btn--secondary:hover, .btn.btn--secondary:focus {
    background: #143350;
    border-color: #143350;
    color: #fff;
    box-shadow: 0px 8px 17px 2px rgb(0 0 0 / 4%), 0px 3px 14px 2px rgb(0 0 0 / 4%), 0px 5px 5px -3px rgb(0 0 0 / 6%);
    outline: none;
}
.btn.btn--cta:hover, .btn.btn--cta:focus, .btn.btn--primary:hover, .btn.btn--primary:focus {
    background: #143350;
    box-shadow: 0px 8px 17px 2px rgb(0 0 0 / 4%), 0px 3px 14px 2px rgb(0 0 0 / 4%), 0px 5px 5px -3px rgb(0 0 0 / 6%);
    outline: none;
}